body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:914px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:1670px;
  height:914px;
}
#u690 {
  position:absolute;
  left:2px;
  top:449px;
  width:1666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1650px;
  height:896px;
}
#u691 {
  position:absolute;
  left:10px;
  top:10px;
  width:1650px;
  height:896px;
}
#u692 {
  position:absolute;
  left:2px;
  top:440px;
  width:1646px;
  visibility:hidden;
  word-wrap:break-word;
}
