body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1491px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1518px;
  height:486px;
}
#u10645 {
  position:absolute;
  left:0px;
  top:0px;
  width:1517px;
  height:485px;
  font-size:20px;
}
#u10646 {
  position:absolute;
  left:2px;
  top:230px;
  width:1513px;
  word-wrap:break-word;
}
#u10647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1518px;
  height:382px;
}
#u10647 {
  position:absolute;
  left:0px;
  top:495px;
  width:1517px;
  height:381px;
  font-size:20px;
}
#u10648 {
  position:absolute;
  left:2px;
  top:178px;
  width:1513px;
  word-wrap:break-word;
}
#u10649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:382px;
}
#u10649 {
  position:absolute;
  left:-26px;
  top:886px;
  width:1543px;
  height:381px;
  font-size:20px;
}
#u10650 {
  position:absolute;
  left:2px;
  top:178px;
  width:1539px;
  word-wrap:break-word;
}
#u10651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:382px;
}
#u10651 {
  position:absolute;
  left:-26px;
  top:1277px;
  width:1543px;
  height:381px;
  font-size:20px;
}
#u10652 {
  position:absolute;
  left:2px;
  top:178px;
  width:1539px;
  word-wrap:break-word;
}
#u10653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:382px;
}
#u10653 {
  position:absolute;
  left:-26px;
  top:1668px;
  width:1543px;
  height:381px;
  font-size:20px;
}
#u10654 {
  position:absolute;
  left:2px;
  top:178px;
  width:1539px;
  word-wrap:break-word;
}
#u10655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10655 {
  position:absolute;
  left:689px;
  top:412px;
  width:140px;
  height:40px;
}
#u10656 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u10657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:111px;
}
#u10657 {
  position:absolute;
  left:1261px;
  top:115px;
  width:107px;
  height:110px;
  font-size:20px;
}
#u10658 {
  position:absolute;
  left:2px;
  top:43px;
  width:103px;
  word-wrap:break-word;
}
#u10659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:111px;
}
#u10659 {
  position:absolute;
  left:1395px;
  top:115px;
  width:107px;
  height:110px;
  font-size:20px;
}
#u10660 {
  position:absolute;
  left:2px;
  top:43px;
  width:103px;
  word-wrap:break-word;
}
#u10661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10661 {
  position:absolute;
  left:1289px;
  top:33px;
  width:96px;
  height:40px;
}
#u10662 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u10663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10663 {
  position:absolute;
  left:1395px;
  top:33px;
  width:96px;
  height:40px;
}
#u10664 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u10665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:63px;
}
#u10665 {
  position:absolute;
  left:12px;
  top:23px;
  width:200px;
  height:62px;
}
#u10666 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  word-wrap:break-word;
}
